{% extends 'core/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card m-5 p-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ product.images.url }}" alt="" class="card-img-top">
                        </div>
                        <div class="col-md-6">
                            <p class="card-text fw-bold">{{product.product_name}}</p>
                            <p class="card-text fw-bold">R {{product.price}} only </p>
                            <p class="card-text fw-bold">{{product.description}}</p>
                            {% if product.stock %}
                                <a href=""><button class="btn btn-primary">Add to Cart</button></a>
                            {% else %}
                                <h5 class="text-danger">Out of stock</h5>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


