{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <img src="{% static 'core/images/b2.jpg' %}" alt="" class="img-fluid rounded mt-3">
        <div class="row justify-content-md-center mt-5">
            {% for category in categories %}
            <div class="col-md-2 mx-2">
                <div class="card shadow mb-2">
                    <div class="card-body">
                            <a href="{{category.get_url}}"><img class="card-img-top" src="{{category.cat_image.url}}" alt=""></a>
                    </div>
                    <div class="card-footer">
                        <a href="{{category.get_url}}"><h5 class="card-text text-center">{{category.category_name}}</h5></a>
                    </div>
                    
                </div>
            </div>
     
            {% endfor %}
        </div>

    </div>
    
    
{% endblock content %}


